#robot {
    color: blueviolet;
}

#laptop {
    color: rgb(91, 240, 153);
}

#microchip {
    color: rgb(76, 134, 221)
}

#sitemap {
    color: rgb(170, 168, 44);
}

#people {
    color: rgb(156, 155, 155);
}

#footer {
    background: #000;
}

#sad-face {
    animation: spin 1s linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        margin-right: 400px;
    }

    to {
        transform: rotate(360deg);
        margin-right: 0px;
    }
}