#robot {
    color: blueviolet;
}

#laptop {
    color: rgb(91, 240, 153);
}

#microchip {
    color: rgb(76, 134, 221)
}

#sitemap {
    color: rgb(170, 168, 44);
}

#people {
    color: rgb(156, 155, 155);
}